#Assignment_1

1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.
 - *
 - &#39;hello&#39;
 - -87.8
 - -
 - /
 - +
 - 6


**Ans:** (*, -, /, +) are the mathematical operators and ('hello', -87.9, 6) are the values.

---

2. What is the difference between string and variable?

**Ans:** String is one of the data types used in the python. It can be any value inside single or double quotes (Eg. 'A12$', "2asd#"). 

Variable is a container used to store any type of data values.

---

3. Describe three different data types.

**Ans:** There are many different data types used in python. 
- Integer data type
- Float data type
- String data type
- Boolean data type
- Complex data type etc.,.

Let's discuss three of these data types - Integer, Float & Binary data type.

1. Integer Data type: All positive and negative natural numbers including '0' are considered Integer data type. It is written as "int" in python. (Eg. ....-2,-1,0,1,2,3,....)

2. Float data type: All positive and negative decimal numbers are considered as Float data type. It is written as "float" in python. (Eg. 7.15, -3.4, 0.52)

3. Boolean Data type: Boolean data type has only two values in python - **True** and **False**. When two values are used in comparison, it return a Boolean answer. Mostly, it is used in loop functions, conditional functions. It is wriiten as "bool" in python.

---

4. What is an expression made up of? What do all expressions do?

**Ans:** An expression is made up of operators and operands. Operands can be constants or numerical variables od different datat types. There are many different expressions in python and are named based on operators and operands used.

All expressions are interpreted to return some value which can be of numerical, boolean, string etc.,.

---

5. What is the difference between an expression and a statement?

**Ans:** Expressions are a combination of different operators and operands only that can be reduced to a value. Statements are a single line or several lines of code written in python. Even expressions are considered as statements but not all statements are expressions.

---

6. After running the following code, what does the variable bacon contain?
```
bacon = 22
bacon + 1
```
**Ans:** The variable bacon contains the value 22. Because, the next line of code bacon + 1 will run but the value of it is not stored in any contatiner (not even in bacon) and so the value of the variable bacon does not change.

---

7. What should the values of the following two terms be?
```
'spam' + 'spamspam'
'spam' * 3
```

**Ans:** The values of the both statements are the same.

'spam' + 'spamspam' - results the value 'spamspamspam'

'spam' * 3 - will result the same 'spamspamspam'.

---

8. Why is eggs a valid variable name while 100 is invalid?

**Ans:** Variable names can be anything but the first character of it should be an alphabet and it should not contain any special characters (@, #, /, -, ?, ! etc.,.)

So, eggs can be a variable but 100 is invalid because it started with a number and it can only be a value but not be a container to store the values.

---

9. What three functions can be used to get the integer, floating-point number, or string version of a value?

**Ans:** The functions used to get the integer, floating-point number, or string version of a value are: int(), float(),  str()

Note: Numbers can be converted into string data type but the alphabets cannot be converted into numerical data types.

In [ ]:
#consider a value of 3
value = 3

#To get the integer version of value
print(int(3))

#To get the float version of value
print(float(3))

#To get the string version of value
print(str(3))

---

10. Why does this expression cause an error? How can you fix it?
```
'I have eaten' + 99 + 'burritos.'
```

**Ans:** The above statement returns an error because the operation was done between two different data types i.e., between string and integer data type. So, to fix the error, we need to convert all the values to the same data type.

```
'I have eaten' + '99' + 'burritos.'
```
Now the above statement should not return the error as all the values are of same data type.